[user]
	name = Olav Peuscher
	email = olav@label305.com
[core]
	editor = subl
[color]
	ui = always
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]

	fb = !sh -c 'git branch feature_$1 && git checkout feature_$1' -
	hb = !sh -c 'git branch hotfix_$1 && git checkout hotfix_$1' -
	hf = !sh -c 'git branch hotfix_$1 && git checkout hotfix_$1' -
	eh = !sh -c 'git branch enhancement_$1 && git checkout enhancement_$1' -
	setup = !sh -c 'git checkout master && git push origin master && git branch release && git checkout release && git push origin release && git branch dev && git checkout dev && git push origin dev' -
